<h1>Emprego Já</h1>
<% @jobs.each do |job| %>
  <h1><%= link_to job.title, job %><h1>
  <dl>
    <dt>Empresa:</dt>
    <dd><%= job.company %></dd>
    <dt>Local:</dt>
    <dd><%= job.location %></dd>
  </dl>
<% end %>
